* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
}



body{
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);

}

.navbar-nav{

    justify-content: space-evenly;
    width: 100%;
}

a,
html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown a#navbarDropdown.nav-link.dropdown-toggle,
h1,
.container-7 .row .col,
.container-8 .row{
    font-family:'Permanent Marker', cursive;
    color:white;
}

i,
html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown div.dropdown-menu a.dropdown-item,
.testimony .container-5 h1,
span,
blockquote{
    color:white;
}

.container-2,.container-3,.container-4{
    font-family: 'Caveat', cursive;
    color: white;
}

.container-4,
.testimony,
.actu,
.boutton,
.boutton .btn,
.container-7{
    display: flex;
    justify-content: center; 
}

.logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 35px;
}

html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown a#navbarDropdown.nav-link.dropdown-toggle{
    padding: 0;
    text-decoration: underline;

}

html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown.show div.dropdown-menu.show{
    background-color: gray;
}

.dropdown-menu{
    --bs-dropdown-link-hover-bg:none:
}

.container-2{
    display: flex;
    flex-direction: row-reverse; 
    font-size: 30px;
    padding: 50px 50px 0px 50px;
    width: 100%;
    height:100%;
    
}

html body div.container-2.slide-in div.row div.col-xl-4.-xxl-6 img#sarah-responsive.rounded{
    display: none;
}

h1 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.container-3 {
    display: flex;
    font-size: 30px;
    padding: 0px 50px 0px 50px;
    width: 100%;
}

.container-3 .row .col {
    padding: 50px;
}

.container-3 p{
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    font-weight: bold;
}

.container-4{
    font-size: 30px;
    padding: 0px 50px 50px 50px;
    width: 100%
 
}

.container-4 h1{ 
    margin-bottom: 20px;
    text-align: center;
}


.testimony .container-5 .row{
    margin-top:30px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Permanent Marker', cursive;
}

.testimony .container-5 .row .col-md-4{
margin:40px auto;
height:364.5px;
width: 1883px;
}

.testimony .item{
    padding:70px 10px 10px;
    background-color: grey;

}

.testimony .item img{
    top:-60px;
    left:calc(50% -50px);
    border:10px solid white;
  margin-left: 0;

}

.testimony .owl-carousel .owl-item img{
    width: 20%;

}

.owl-carousel .owl-item img{
    display: inline;
}

.testimony-photo{
    width: 120px;
    height: 120px;
    border-radius: 50%;

}

.item h3{
    font-size: 20px;
    margin-top: 15px;
    color: black;
}

span{
    font-size:20px;
}

blockquote{
    font-size: 20px;
    line-height: 30px;
}
blockquote::before{
    content:'\93';
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 20px;
    bottom:-15px;
    right: 5px;
}

blockquote::after{
    content:'\94';
    font-size: 50px;
    position: relative;
    color: #ff9800;
    line-height: 10px;
    bottom:-15px;
    right: 5px;
}

.item:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}

.actu .container-6 .row{
    margin-top:30px;
    padding-left: 10px;
    padding-right: 10px;

}

.actu .container-6 .row .col{
    margin:40px auto;
    height:489px;
    width: 348px;
}


.actu .container-6 .col:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
    
}

.boutton .btn{
    width: 178px;
    height: 61px;
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;

}

.container-7{
    margin:20px;
}

.container-7 .row .col{
    display: flex;
    align-items: center;
    line-height: 80px;
    font-size: 30px;
}

html body div.container-7 div.row div.col img.rdv{
    margin-left: 50px;
}

html body div.container-7 div.row div.col p{
    margin-left: 50px;
}
.container-8{
    width: 100%;
    height: 435px;
    margin-top: 20px;
    text-align: center;
    border-top: 3px black solid ;
}
.container-8 .row{
    width: 100%;
    height: 381px;
    align-items: center;
    text-align: center;
    font-size: 28px;
}

.container-8 span{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;

}

html body footer div.container-8.bg-dark.bg-gradient div.row div.col p a i.bi.bi-envelope-open{
    font-size: 20px;
}

html body footer div.container-8.bg-dark.bg-gradient div.row div.col div a.logo{
    font-size: 30px;
}


@media screen and (max-width: 911px){

    html body footer div.container-8.bg-dark.bg-gradient div.row div.col div img.contact{
        display: none;
    }
   

    html body footer{
        height: 300px;
        font-size: 15px;
    }

    html body footer div.container-8.bg-dark.bg-gradient div.row div.col div i.bi.bi-moon-stars-fill{
        font-size: 10px;
    }
}

@media screen and (max-width: 960px){

    html body div.container-2.slide-in div.row div.col-xl-4.-xxl-6 img#sarah-responsive.rounded{
        padding-left: 250px;
        margin-left: 0px;
    }

    .container-7 p{
        text-align: center;
    }
    
    
    html body div.container-7 div.row div.col{
        justify-content: center;
    }
    
    }

@media screen and (max-width: 992px){
    .navbar{
        padding: 0;
    }

    .banner{
        display: none;
    }


    .navbar .menu-hamburger{
        display: block;
        
    }
    .navbar-nav {
        top:0;
        left: 0;
        position: absolute;
        background-image: url('images/Screenshot_20230913-103958_Instagram.jpg');
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        width: 100%;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.0s ease-in;
    }

    .navbar-nav.mobile-menu{
        margin-left: 0;
    }

    .navbar-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .navbar-nav .nav-item{
        margin: 25px 0;
        font-size: 1.2em;
    }

    .container-2 {
        padding-bottom: 0px;
     }

    .container-2 .rounded {
       margin-left: 155px;
       margin-top:20px;
       padding-bottom: 0px;
    }
  

div.container-7 div.row div.col p a i.bi.bi-instagram{
    font-size: 20px;
}
.container-7 div.row div.col p a i.bi.bi-envelope-open{
    font-size: 20px;
}
}

@media screen and (max-width: 1036px){

html body footer div.container-8.bg-dark.bg-gradient div.row div.col p a i.bi.bi-envelope-open{
    font-size: 14px;
}

.container-7 div.row div.col p a i.bi.bi-envelope-open{
    font-size: 25px;
}
}

html body footer div.container-8.bg-dark.bg-gradient div.row div.col ul li.nav-item.dropdown a#navbarDropdown.nav-link.dropdown-toggle{
    text-decoration: underline;
}
    
@media screen and (max-width: 1200px){
    
    .slider{
        display: none;
    }


    html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav{
        font-size: 15px;
    }

    html body div.container-2.slide-in div.row div.col-xl-4.-xxl-6 img#sarah-responsive.rounded{
        padding-left: 155px;
        margin-top: 20px;
        margin-left: 155px;
    }
    .container-2 .row {
        padding-bottom: 0px;
    }

    .container-3{
        flex-direction: column-reverse;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .container-7 .row .col{
        line-height: 60px;
    }

    html body div.container-3.slide-in div.row div.col{
        margin-left: 155px;
        margin-bottom: 20px;
    }

    html body div.container-3.slide-in div.row div.col{
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    html body footer div.container-8.bg-dark.bg-gradient div.row div.col div a.logo{
        font-size: 20px;
    }
    
    html body div.container-7 div.row div.col p a i.bi.bi-envelope-open{
        font-size: 14px;
    }


    html body div.container-7 div.row div.col p a i.bi.bi-instagram{
        font-size: 14px;
    }
}



@media screen and (max-width: 1600px){

    html body div.container-2.slide-in div.row div.col-xl-4.-xxl-6 img#sarah-responsive.rounded{
        display: inline;
    }

    html body div.container-2.slide-in div.row div.col-xl-4.-xxl-6 img#base.rounded{
        display: none;
    }
}

   