* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    }

    body{
        background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    
    }

    
.navbar-nav{

    justify-content: space-evenly;
    width: 100%;
}



a,
h1,
html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown a#navbarDropdown.nav-link.dropdown-toggle,
h2{
    font-family: 'Permanent Marker', cursive;
    color:white
}

i,
p,
html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown div.dropdown-menu a.dropdown-item{
    color:white
}

.logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 30px;
    right: 20px;
    width: 35px;
}

html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown a#navbarDropdown.nav-link.dropdown-toggle{
    padding: 0;
    text-decoration: underline;

}

html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav li.nav-item.dropdown.show div.dropdown-menu.show{
    background-color: gray;
}


.dropdown-menu{
    --bs-dropdown-link-hover-bg:none:
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    font-size: 30px;
    text-align: center;
}
p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

html body div.container-1-moon-art div.row div.col a{
    display: flex;
    justify-content: space-evenly;
}

html body div.container-2-moon-art-responsive {
    display: none;
}


html body div.container-1-moon-art div.row div.col a img:hover{
    opacity: 0.5;
}

.mkk{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top:-60px;
    left:calc(50% -50px);
    border:10px solid white;
    border-radius: 50%;
   
}

html body div.conatiner-photo p{
    font-size: 30px;
}

.container-8 .row{
    width: 100%;
    height: 381px;
    align-items: center;
    text-align: center;
    font-family: 'Caveat', cursive;
    color: white;
    font-size: 28px;
}
html body footer div.container-8.bg-dark.bg-gradient div.row div.col ul span{
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}



html body footer div.container-8.bg-dark.bg-gradient div.row div.col p a i.bi.bi-envelope-open{
    font-size: 20px;
}

html body footer div.container-8.bg-dark.bg-gradient div.row div.col div a.logo{
    font-size: 30px;
}

html body footer div.container-8.bg-dark.bg-gradient div.row div.col ul, li{
    font-family: 'Permanent Marker', cursive;

}

html body footer div.container-8.bg-dark.bg-gradient div.row div.col ul li.nav-item.dropdown a#navbarDropdown.nav-link.dropdown-toggle{
    text-decoration: underline;
}

@media screen and (max-width: 911px){

    html body footer div.container-8.bg-dark.bg-gradient div.row div.col div img.contact{
        display: none;
    }
   

    html body footer{
        height: 300px;
        font-size: 15px;
    }

    html body footer div.container-8.bg-dark.bg-gradient div.row div.col div i.bi.bi-moon-stars-fill{
        font-size: 10px;
    }
}


@media screen and (max-width: 992px){
    .navbar{
        padding: 0;
    }

    .banner{
        display: none;
    }


    .navbar .menu-hamburger{
        display: block;
        
    }
    .navbar-nav {
        top:0;
        left: 0;
        position: absolute;
        background-image: url('images/Screenshot_20230913-103958_Instagram.jpg');
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(7px);
        width: 100%;
        height:100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.0s ease-in;
    }

    .navbar-nav.mobile-menu{
        margin-left: 0;
    }

    .navbar-nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .navbar-nav .nav-item{
        margin: 25px 0;
        font-size: 1.2em;
    }

    }

    @media screen and (max-width: 1116px){


        html body div.container-1-moon-art div.row div.col a img{
            display: none;
        }

        html body div.container-2-moon-art-responsive{
            display: flex;
            justify-content: space-evenly;
        }
    }

       
@media screen and (max-width: 1200px){
    

    html body nav.navbar.sticky-top.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient div.container ul.navbar-nav{
        font-size: 15px;
    }


    html body footer div.container-8.bg-dark.bg-gradient div.row div.col div a.logo{
        font-size: 20px;
    }

    html body footer div.container-8.bg-dark.bg-gradient div.row div.col p a i.bi.bi-envelope-open{
        font-size: 14px;
    }

    
}


   